# Virtual Environments
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Logs and Debug
logs/
*.log

# Data & Index Files
data/chroma_store/
data/processed_chunks/chunked_articles.jsonl
data/rag_output/
data/raw_news/
data/tickers/

# Drafts & Notes
drafts/

# System Files
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/

# Environment Files
.env
.env.*

# Git
.gitignore
